<li class="nav-item">
    <div class="search-bar nav-link ">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input class="form-control" type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button class="btn btn-outline-primary" type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->
</li>

<li class="nav-item">
    <a class="nav-link " href="{% url 'home:dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Home</span>
    </a>
</li><!-- End Dashboard Nav -->

<li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'home:partial_rendering' %}">
        <i class="bi bi-window-dash"></i>
        <span>Load partial_rendering</span>
    </a>
</li><!-- End Profile Page Nav -->

{% for category in categories %}
{% if not category.parent_wbs %}
{% if category.children.exists %}
<li class="nav-heading">{{ category.name }}</li>

{% for child in category.children.all %}

<li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'home:partial_rendering_with_category' category_id=child.id %}">
        <i class="bi bi-arrow-right"></i>
        <span>{{  child.name }}</span>
    </a>
</li><!-- End Profile Page Nav -->

{% endfor %}

{% else %}

<li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'home:partial_rendering_with_category' category_id=category.id %}">
        <i class="bi bi-person"></i>
        <span>{{ category.name }}</span>
    </a>
</li><!-- End Profile Page Nav -->
{% endif %}
{% endif %}
{% endfor %}